<section id="about-page-content">
	<%= image_tag ('us.png') %>

	<aside id="about-us-text" class="right">
	<h1>Don't forget the passports...</h1>
	<p>Travelling nurtures the soul. Be it far away in Asia or close to home in the pacific north west, Annie and Ray will claim that next adventure together and grow their memories together. This website is just another scrapbook of those experiences.</p>
	</aside>


</section>