<section id="hero-banner">
	<a href="/tags/los_angeles">
	<div id="hero-banner-container">
		<span class="hero-banner-header">Los Angeles</span>
		<span class="hero-banner-text">Beautiful weather, long drives, and family. Annie's second home will be a regular destination for life.</span>
	</div></a>
</section>

<section id="home-banner">
<a href="/tags/new_york">
	<div id="previous-banner">
		<span class="previous">Past Destinations</span>
		<div class="center">
		<span class="previous-city">New York</span>
		</div>
	</div>
</a>
<a href="/tags/tokyo">
	<div id="next-banner">
		<span class="next">Next Destination</span>
		<div class="center">
		<span class="next-city">Tokyo</span>
	  </div>
	</div>
</a>
</section> 



