/* EM reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* universal */

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
	width: 100%;
	background: #EAEAEA url('wallpaper.png') no-repeat top;
}

p {
	color: #4C4C4C;
	font: 16px/24px 'Open Sans', sans-serif;
}

.sketch {
	border: 1px solid red;
}

#container {
	max-width: 1200px;
	min-height: 100%;
	margin: 25px auto 0;
	padding: 15px 25px 0 25px; 
	background: #FFF;
}

.right {
	float: right;
}

.left {
	float: left;
}

.clear {
	clear: both;
}

/* header */

header {
	height: 160px;
	padding: 15px 0 0 0;
	margin-bottom: 15px;
}

#logo {
	height: 125px;
	width: 115px;
	border: 1px dashed #4C4C4C;
	text-align: center;
	padding-top: 15px;
	float: left;
	margin-right: 30px;
}

#logo-text {
	color: #4C4C4C;
	text-transform: uppercase;
	font: 18px/28px Arial, sans-serif;
}

.navigation .nav-box {
	height: 33px;
	width: 65px;
	display: inline-block;
	border: 2px solid white;
	text-align: center;
	padding-top: 15px;
}

.navigation ul {
	font: 16px/24px 'Open Sans', Arial, sans-serif;
}

.navigation li {
	display: inline-block;
}

.navigation a {
	text-decoration: none;
	color: #919191;
	text-transform: uppercase;
}

.nav-box:hover {
	border-top: 2px solid #CCCCCC;
	transition: 0.8s;
}

#header-social {
	float: right;
	margin: 15px 30px;
}

#flash {
	height: 50px;
	width: 500px;
	margin: 10px 0 0 155px;
}

.notice {
	font: 14px/28px "Open Sans", Arial, sans-serif;
	border: 2px solid #93AF3E;
	border-radius: 3px;
	background: #B8DB4D;
	padding-left: 15px;
	color: #E3FF91;
}

.alert {
	font: 14px/28px "Open Sans", Arial, sans-serif;
	border: 2px solid #990000;
	border-radius: 3px;
	background: #FFCCCC;
	padding-left: 15px;
	color: #990000;
}

/* home page */

#hero-banner {
	width: 100%;
	height: 550px;
	background: url('losangeles2.jpg');
	background-size: cover;
	margin-bottom: 30px;
	position: static;
}

#hero-banner-container {
	height: 130px;
	width: 440px;
	top: 400px;
	float: right;
	padding: 15px;
	position: relative;
	background: rgb(0, 0, 0); /* Fallback for older browsers without RGBA-support */
  background: rgba(0, 0, 0, 0.5);
}

.hero-banner-header {
	color: #FFF;
	font: 36px Verdana, Geneva, sans-serif;
	display: block;
}

.hero-banner-text {
	color: #FFF;
	font: 18px/24px Helvetica, Arial, sans-serif;
	margin-top: 10px;
}

#home-banner {
	margin-bottom: 40px;
}

#previous-banner, #next-banner {
	height: 250px;
	width: 560px;
	display: inline-block;
}

#previous-banner {
	margin-right: 25px;
	background: url('newyork4.jpg');
	background-size: cover;
}

#next-banner {
	background: url('tokyo.jpg');
	background-size: cover;
}

.center {
	text-align: center;
}

.previous, .next {
	display: block;
	font: italic 24px Georgia, serif;
	margin: 15px 0 60px 0;
	padding-left: 15px;
	color: #000;
	background: rgb(200, 200, 200); /* Fallback for older browsers without RGBA-support */
  background: rgba(200, 200, 200, 0.5);
}

.next-city, .previous-city {
	color: #FFF;
	font: 44px Arial, sans-serif;
}

/* footer */
footer {
	height: 180px;
	width: 100%;
	background: #2A2A2A;
}

#footer-col-1 {
	padding-top: 40px;
}

.social {
	padding-left: 15px;
}

.social img {
	margin-right: 10px;
	opacity: 0.5;
}

.social img:hover {
	opacity: 0.8;
	transition: 0.5s;
}

#footer-col-1 img {
	display: inline-block;
	vertical-align: middle;
}

#copyright {
	color: #4C4C4C;
	font: 12px/18px 'Open Sans', sans-serif; 
}

#footer-col-2 {
	float: right;
	width: 220px;
	margin: 15px 30px 0 0;
}

#footer-col-2 a {
	text-decoration: none;
}

#about-header {
	color: #FFF;
	display: block;
	font: 16px/26px 'Open Sans', Arial, sans-serif;
}

#about-text {
	color: #4C4C4C;
	font: 14px/24px Arial, sans-serif;
}

/* about us page */

#about-page-content {
	margin: 20px 0 70px 0;
}

#about-us-text {
	width: 30%;
	margin: 2% 7%;

}

#about-us-text h1 {
	font: 26px/48px 'Roboto', Arial, sans-serif;
}

#about-us-text p {
	font: 18px/36px 'Open Sans', Arial, sans-serif;
}

/* login page */

#login {
	padding: 20px;
	width: 400px;
	margin-bottom: 350px;
	display: inline-block;
	font: 18px/24px 'Roboto', Arial, sans-serif;
}

#login h2 {
	font:24px/28px 'Roboto', Arial, sans-serif;
	color: #919191;
	display: inline-block;
	padding: 0 10px 0 0;
	margin-bottom: 5px;
}

#underline {
	height: 3px;
	width: 100%;
	background: #D7D7D7;
	margin-bottom: 25px;
}

.field {
	margin-bottom: 10px;
}

label {
	float: left;
	text-align: right;
	margin-right: 15px;
	width: 100px;
}

.remember {
	width: 100%;
	margin-left: 115px;
	font-size: 12px;
}

.remember label {
	float: none;
}

#submit-button {
	margin-top: -10px;
	margin-left: 115px;
	font-size: 12px;
}

#submit-button input[type=submit] {
	border-radius: 2px;
	border: 1px solid #66A3FF;
	background: #85B5FF;
	color: #FFF;
	padding: 5px;
	text-transform: uppercase;
}

/* create new article page */

#new-post {
	padding: 20px;
	width: 600px;
	margin-bottom: 350px;
	display: inline-block;
	font: 18px/24px 'Roboto', Arial, sans-serif;
}

#new-post #submit-button {
	margin-top: 10px;
}

#new-post #submit-button input[type=submit] {
	margin-top: 10px;
}

#new-post h2 {
	font:24px/28px 'Roboto', Arial, sans-serif;
	color: #919191;
	display: inline-block;
	padding: 0 10px 0 0;
	margin-bottom: 5px;
}

/* show single article */

#single-article, #articles-index {
	max-width: 100%;
	min-height: 560px;
}

#single-article .clear {
	margin-bottom: 150px;
}

.article-picture {
	float: left;
	margin-right: 75px;
	max-width: 70%;
}

.article-text #title h1 {
	font: 24px/36px 'Roboto', Arial, sans-serif;
	margin-bottom: 5px;
}

.article-text #address {
	display: inline-block;
	width: 300px;
}

.article-text #address p {
	font: italic 14px 'Open Sans', Arial, sans-serif;
	margin-bottom: 25px;
}

.article-text #content {
	padding-right: 15px;
	margin-bottom: 25px;
}

.article-text #content {
	font: 16px Lucida, Georgia;
}

.article-text #taglist p{
	font-size: 0.9em;
}

.article-text #taglist a {
	color: #4C4C4C;
	text-transform: uppercase;
	font-size: 0.9em;
}

/* index page */

#index-heading {
	margin-bottom: 20px;
}

#index-heading h1 {
	color: #000;
	font: 26px/48px 'Roboto', Arial, sans-serif;
	margin: 0 0 5px;
}

.index-gridbox {
	vertical-align: top;
	display: inline-block;
	width: 250px;
	height: 270px;
	margin: 0 10px 10px 0;
}

.index-grid-picture {
	width: 250px;
	text-align: center;
}

.index-grid-picture a img {
	margin: auto;
}

.index-grid-title {
	font: 18px 'Roboto', Arial, sans-serif;
	color: #4C4C4C;
	text-align: center;
	height: 20px;
}

#tag_cloud {
	width: 400px;
	line-height: 1.6em;
	.s { font-size: 0.8em; }
  .m { font-size: 1.2em; }
  .l { font-size: 1.8em; }
}

#tags a {
	text-decoration: none;
	color: #919191;
	font: 14px 'Open Sans', Arial, sans-serif;
	text-transform: lowercase;
}

#tags a:hover {
	text-decoration: underline;
}