<header>

	<a href=/><div id="logo">
		<span id="logo-text">O U R</br>T R A V E L</br>S T O R Y.</span>
	</div></a>

	<div class="social" id="header-social">
		<%= image_tag('fb.png') %>
		<%= image_tag('instagram.png') %>
		<%= image_tag('pinterest.png') %>
	</div>

	<nav class="navigation">
					<ul>
						<li class="nav-box"><a id="city" href="#">Cities</a></li>
						<li class="nav-box"><a href="#">Photos</a></li>
						<li class="nav-box"><a href="#">Plan</a></li>
						<li class="nav-box"><a href="#">Login</a></li>
					</ul>	
	</nav>

</header>

